<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="restaurants/new">Add a restaurant</a>