<% if Restaurant.all.any? %>
  <% Restaurant.all.each do |restaurant| %>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
    <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<a href="restaurants/new">Add a restaurant</a>